body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.profile {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile h1 {
    margin-top: 0;
    text-align: center;
}

.profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    margin: 0 0 10px;
}

.profile-info p {
    margin: 0;
}

.profile-navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.profile-navigation li {
    margin: 0 10px;
}

.profile-navigation a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #007BFF; /* Blue color */
    border-radius: 5px;
    color: #007BFF;
    transition: background-color 0.3s, color 0.3s;
}

.profile-navigation a:hover {
    background-color: #007BFF; /* Blue color on hover */
    color: #fff;
}
